body {
    background: #f0f0f0;
    font-family: Arial;
}

.contenedor {
    background: white;
    padding: 20px;
    width: 650px;
    margin: 40px auto;
    border: 1px solid #ccc;
}

.fila {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.campo {
    flex: 1;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

input, select, textarea {
    width: 100%;
    padding: 7px;
    box-sizing: border-box;
}

textarea {
    height: 100px;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    background: #ccc;
    border: 1px solid black;
    cursor: pointer;
}

#resultado {
    margin-top: 20px;
    background: #eee;
    padding: 10px;
    border-radius: 4px;
}
